%brand-back {
	background-image: url(../img/s1-bg.jpg);
	background-repeat: no-repeat;
	background-size: 55%;
	background-position-y: -50px;
}

.footer {
	height: 70px;
	background-color: $brand-primary;
	font-size: 14px;
	color: white;
	@media all and (max-width: 768px) {
		height: 88px;
    background-image: url(../img/s1-bg.jpg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-y: -30px;
    background-position-x: 55px;
	}
	&__left-col {
		height: 70px;
		text-align: left;
		padding-top: 27px;
		@extend %brand-back;
		background-position-x: 10px;
		@media all and (max-width: 768px) {
			text-align: center;
			height: auto;
			background: none;
			padding-top: 17px;
		}
	}
	&__center-col {
		padding-top: 15px;
	}
	&__right-col {
		height: 70px;
		text-align: right;
		padding-top: 27px;
		@extend %brand-back;
		background-position-x: 255px;
		@media all and (max-width: 768px) {
			text-align: center;
			height: auto;
			background: none;

			padding-top: 15px;
		}
	}
	a {
		color: white;
		font-size: 14px;
	}
}

.arrow-top {
	display: block;
	position: fixed;
  bottom: 13px;
	right: 22px;
	width: 45px;
	height: 45px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-size: 30px;
	background-image: url(../img/chevron-green.png);
	background-color: #eaf3d9;
	background-position: center;
	cursor: pointer;
	@include trans;
	&:hover {
		background-color: #9bc84d;
		background-image: url(../img/chevron.png);
	}

}
