header {
	height: 125px;
	background-color: $brand-primary;
	border-bottom: 1px solid #9cc94e;
	padding-top: 20px;
	overflow: hidden;
	@media all and (max-width: 768px) {
		height: 103px;
		overflow: visible;
	}
	.header-nav {
		display: inline-block;
		margin-top: 25px;
		li {
			display: inline-block;
		}
		a {
			color: white;
	    font-size: 20px;
	    font-weight: 400;
	    text-decoration: none !important;
	    display: block;
	    padding: 5px 25px;
	    border: 1px solid transparent;
	    border-radius: 20px;
			@include trans;
			&:hover {
				border-color: #9cc94e;
			}
			@media all and (max-width: 1200px) {
				font-size: 16px;
			}
			@media all and (max-width: 992px) {
				font-size: 14px;
				padding: 5px 15px;
			}
		}

	}
	.header-phone {
		position: relative;
		display: inline-block;
		margin-top: 25px;
		font-size: 22px;
		color: white;
		@include trans;
		@include link-border;
		&::before {
			content: '\e904';
			position: absolute;
			left: -35px;
			font-family: 'icomoon';
			color: inherit;
			@include font-smooth;
			@media all and (max-width: 1200px) {
				left: -25px;
			}
			@media all and (max-width: 768px) {
				display: none;
			}
		}
		@media all and (max-width: 1200px) {
			margin-top: 30px;
			font-size: 18px;
		}
		@media all and (max-width: 768px) {
			margin-top: 22px;
			font-size: 14px;
			white-space: nowrap;
		}
	}
}

.logo {
	display: inline-block;
	position: relative;
	width: 132px;
	height: 86px;
	background-image: url(../img/logo.svg);
	background-size: cover;
	text-decoration: none !important;
	&-w {
		background-image: url(../img/logo-w.svg);
		&::after {
			content: 'Работа в Контакт-центре Line4Life® Симферополь';
			position: absolute;
			display: block;
			width: 200px;
			left:155px;
			top: 25px;
			color: white;
			font-size: 16px;
			line-height: 1.2;
			font-weight: 500;
			@media all and (max-width: 1200px) {
				font-size: 12px;
				width: 150px;
			}
			@media all and (max-width: 992px) {
				display: none;
			}
		}
		@media all and (max-width: 768px) {
			width: 100px;
			height: 65px;
		}
	}
	&-xl {
		width: 199px;
		height: 130px;
	}
}
