.mobile-menu {
	display: none !important;
	position: absolute;
	z-index: 9;
	background-color: $brand-primary;
	top: 103px;
	height: 330px;
	left: 0;
	width: 100%;
	background-image: url(../img/s1-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120%;
	-webkit-animation-name: fadeIn;
	        animation-name: fadeIn;
	-webkit-animation-duration: .1s;
	        animation-duration: .1s;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	&.active {
		display: block !important;
	}
	&-overlay {
		height: calc(100vh - 433px );
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    z-index: 99999;
    width: 100%;
	}
	p {
		color: white;
		font-size: 16px;
		text-align: center;
		padding-top: 15px;
	}
	&-toggler {
		display: block;
		margin-top: 20px;
		&__bar {
			display: block;
			width: 40px;
			border-top: 1px solid white;
			margin-bottom: 11px;
			@include trans;
			-webkit-transform-origin: left;
			        -webkit-transform-origin: left;
			                transform-origin: left;
		}
		&.active {
			span:first-child {
		    -webkit-transform: rotate(45deg) translateX(-4px) translateY(-2px);
		            transform: rotate(45deg) translateX(-4px) translateY(-2px);
			}
			span:nth-child(2) {
				opacity: 0;
			}
			span:last-child {
				-webkit-transform: rotate(-45deg);
				        transform: rotate(-45deg);
			}
		}
	}
	li {
		display: block !important;
		text-align: center;
		margin-bottom: 15px;
		a {
			font-size: 20px;
		}
	}
	.header-nav {
		margin-top: 40px;
		display: block;
	}


}
