.s10 {
	padding-bottom: 70px;
	background-image: url( ../img/s2-bg.jpg );
	background-repeat: no-repeat;
	background-size: cover;
}
.office {
	&-item {
		margin-bottom: 30px;
		height: 250px;
	}
}

@media all and (max-width: 768px) {
	.office {
		overflow: hidden;
		&-wrapper {
			width: 600vw;
			margin-left: 0;
			margin-right: 0;
		}
		&-item {
			height: auto;
			float: left;
			padding: 0;
			img {
				width: 100%;
			}
		}
	}
}
