.s2 {
	position: relative;
	height: 670px;
	background-image: url(../img/s2-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.icons-tabs {
	&__header {
		li {
			display: block;
			position: relative;
			float: left;
			width: 145px;
			&:not(:last-child) {
				margin-right: 130px;
				&>span::after,
				&>a::after {
					content: '';
					display: block;
					width: 131px;
					height: 2px;
					background-image: url(../img/dots-sprite.png);
					background-size: cover;
					position: absolute;
					left: 145px;
					top: 60px;
					background-position-x: -230px;
					opacity: .8;
					@include trans;
				}
			}
			a {
				display: block;
				position: relative;
				font-size: 20px;
				color: black;
				text-decoration: none !important;
				text-align: center;
				line-height: 1.2;
				white-space: nowrap;
				.tab-title {
					position: relative;
					display: inline-block;
					width: 140%;
					left: 50%;
					-webkit-transform: translateX(-50%);
					        transform: translateX(-50%);
				}
				.tab-icon {
					display: block;
					position: relative;
					width: 120px;
					height: 120px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 25px;
					border-radius: 50%;
					background-color: #f3f3f3;
					color: $brand-primary;
					@include trans;
					font-size: 55px;
					padding-top: 30px;
					font-weight: 500;
					@include font-smooth;
					i {
						@include font-smooth;
					}
					.icon-block {
						position: relative;
						left:5px;
					}
					&::before {
						content: '';
						position: absolute;
						width: 104px;
						height: 104px;
						left: 8px;
						top: 8px;
						border: 1px solid white;
						border-radius: 50%;
					}
				}
				&:hover,
				&.active {
				 .tab-icon {
					color: white;
					background-color: $brand-primary;
					}
				}
			}
		}
		a.active::after {
			background-position-x: -140px !important;
		}
		a.pre-active::after {
			background-position-x: -320px !important;
		}
		.icon-gib {
			position: relative;
			top:-9px;
			font-size: 28px;
		}
	}
}

.icons-tab {
	display: none;
	position: relative;
	height: 170px;
  background-color: #ecffcc;
	font-size: 18px;
	padding: 0 30px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid $brand-primary;
	line-height: 1.5;
	&.active {
		@include valign-mid;
	}
	&::before {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		background-color: #ecffcc;
		border-left: 1px solid $brand-primary;
		border-top: 1px solid $brand-primary;
		position: absolute;
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
		top: -11px;

	}
	&#tab1::before {
		left: 55px;
	}
	&#tab2::before {
		left: 340px;
	}
	&#tab3::before {
		left: 615px;
	}
	&#tab4::before {
		left: 890px;
	}
}
