.s3 {
	height: 610px;
}

.h-tabs {
	&-toggler {
		color: silver;
		cursor: pointer;
		margin-right: 35px;
		&.active {
			color: $brand-primary;
			font-weight: 500;
			span {
				color: black;
			}
		}
	}
}

.h-tab {
	display: block;
	position: relative;
	width: 41.66667%;
	margin-right: 8.33333%;
	height: 160px;
	float: left;
	background-color: #fafafa;
	margin-bottom: 35px;
	padding: 30px;
	&::before {
		content: '';
		position: absolute;
    display: block;
    width: 145px;
    height: 36px;
    background-image: url(../img/line-w.png);
    background-size: cover;
    left: -109px;
    top: 60px;
    z-index: 1;
	}
	&__number {
		display: block;
		position: relative;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		color: white;
		background-color: $brand-primary;
		float: left;
		margin-right: 15px;
		font-family: $headings-font-family;
		font-size: 38px;
		font-weight: 500;
		line-height: 100px;
		vertical-align: middle;
		z-index: 2;
		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 84px;
			height: 83px;
			left: 8px;
			top: 8px;
			border: 1px solid rgba(255,255,255,.5);
			border-radius: 50%;
		}

	}
	&__title {
		display: block;
		margin-bottom: 15px;
		text-align: left;
		font-family: $headings-font-family;
		color: $brand-primary;
		font-weight: 500;
		font-size: 24px;
		@include font-smooth;
		@media all and (max-width: 1200px) {
			font-size: 22px;
			white-space: nowrap;
		}
	}
	&__body {
		text-align: left;
		display: block;
		font-size: 18px;
		@media all and (max-width: 1200px) {
			font-size: 16px;
		}
	}
	&__panel {
		display: none;
		&.active {
			display: block;
		}
	}

}
