.s4 {
	padding-bottom: 70px;
	@media all and (max-width: 768px) {
		padding-bottom: 35px;
	}
}
.question-item {
	&:not(:first-child) {
		margin-top: 10px;
	}
	&__header {
		position: relative;
		height: 60px;
		background-color: #eaf3d9;
		font-size: 20px;
		color: $brand-primary;
		padding: 15px 30px;
		margin-left: 75px;
		border-radius: 10px;
		cursor: pointer;
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 22px;
			right: 15px;
			width: 30px;
			height: 16px;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url(../img/chevron-green.png);
			@include trans(.2s transform);
			-webkit-transform: rotate(180deg);
			        transform: rotate(180deg);
		}
		&::before {
			content: '';
	    position: absolute;
	    border: 15px solid #eaf3d9;
	    left: -15px;
	    bottom: 0;
	    border-left-color: transparent;
	    border-top-color: transparent;
		}
		&:hover {
			background-color: #9bc84d;
			color: white;
			.question-item__circle {
				background-color: #9bc84d;
				color: white;
			}
			&::before {
				border-bottom-color: #9bc84d;
				border-right-color: #9bc84d;
			}
		}
		@media all and (max-width: 992px) {
			font-size: 17px;
		}
		@media all and (max-width: 768px) {
			padding: 15px 65px 15px 30px;
			height: 80px;
			font-size: 16px;
			@include valign-mid;
			&::after {
				top: 32px;
			}
		}
	}
	&__body {
		display: none;
		position: relative;
		background-color: #e5e5e5;
		font-size: 20px;
		padding: 15px 30px;
		margin-left: 190px;
		margin-right: 75px;
		margin-top: 5px;
		margin-bottom: 5px;
		border-radius: 10px;
		&::before {
			content: '';
	    position: absolute;
	    border: 15px solid #e5e5e5;
	    right: -15px;
	    bottom: 0;
	    border-right-color: transparent;
	    border-top-color: transparent;
		}
		@media all and (max-width:992px) {
		  font-size: 17px;
		}
		@media all and (max-width:768px) {
			width: 80%;
		  margin-left: 0;
		  font-size: 16px;
		}
	}
	&__circle {
		top: 0;
		position: absolute;
		display: block;
		width: 60px;
		height: 60px;
		background-color: #eaf3d9;
		border-radius: 50%;
		left: -75px;
		text-align: center;
		font-size: 32px;
		line-height: 60px;
		@media all and (max-width: 768px) {
			top: 20px;
		}
		&--muted {
			background-color: #e5e5e5;
			left: auto;
			top: auto;
			bottom: 0;
			right: -75px;
			line-height: 65px;
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 3px;
			top: 3px;
			width: 54px;
			height: 54px;
			border: 1px solid rgba(255,255,255,.5);
			border-radius: 50%;
		}
	}
	&:hover {
		.question-item__header::after {
				background-image: url(../img/chevron.png);
			}
	}
	&--active {
		.question-item__header {
			background-color: $brand-primary;
			color: white;
			&::before {
				border-bottom-color: $brand-primary;
				border-right-color: $brand-primary;
			}
			&::after {
				background-image: url(../img/chevron.png);
				-webkit-transform: rotate(0);
				        transform: rotate(0);
			}
			.question-item__circle {
				background-color: $brand-primary;
				color: white;
			}

		}
		.question-item__body {
			display: block;
			.btn {
				display: block;
				max-width: 340px;
				margin: 0 auto;
			}
		}
	}
}
@media all and (max-width: 768px) {
	.questions-wrapper {
		padding-bottom: 35px;
		.question-item {
			display: none;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3)
			{
				display: block;
			}
		}
		&.expanded {
			.question-item {
				display: block;
			}
		}
	}
}

.btn-chevron {
	&::after {
		content: '';
		display: inline-block;
		width: 21px;
		height: 10px;
		background-image: url(../img/chevron.png);
		background-repeat: no-repeat;
		background-size: cover;
		margin-left: 17px;
		position: relative;
		margin-top: -1px;
		@include trans;
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);

	}
	&.active::after{
		-webkit-transform: rotate(0);
						transform: rotate(0);
	}
}
