.s5 {
	height: 560px;
	background-color: $brand-primary;
	background-image: url(../img/s1-bg.png);
	background-repeat: no-repeat;
	background-position: 400px 200px;
	@media all and (max-width: 768px) {
		overflow: hidden;
	}
	h2 {
		color: white;
	}
	p {
		font-size: 20px;
		color: white;
		padding-left: 65px;
		margin-top: 40px;
		@media all and (max-width: 768px) {
			padding-left: 0;
			font-size: 16px;
			margin-top: -15px;
		}
	}
	.btn {
		margin-left: 65px;
		margin-top: 15px;
		@media all and (max-width: 768px) {
			margin-left: 0;
			margin-top: 0;
		}
	}
	.container {
		position: relative;
		height: 490px;
	}
}

.list-checked {
	@extend .list-unstyled;
	color: white;
	font-size: 20px;
	li {
		position: relative;
		margin-bottom: 25px;
		padding-left: 65px;
		@media all and (max-width: 768px) {
			font-size: 16px;
			width: 270px;
		}
		&::before {
			content: '\e90f';
			font-family: 'icomoon';
			color: inherit;
			font-size: 35px;
			position: absolute;
			left: 0;
			top: -11px;
			@include font-smooth;
			@media all and (max-width: 768px) {
				top: -3px;
			}
		}
	}
}

.s5-bg-women {
	position: absolute;
	bottom:0;
	right:-80px;
	width: 488px;
	height: 484px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/s5-bg-women.png);
	@media all and (max-width: 1200px) {
		right: -165px;
	}
	@media all and (max-width: 768px) {
		right: -120px;
		width: 320px;
		height: 300px;
		bottom: -70px;
		z-index: 1;
	}
}

@media all and (max-width: 768px) {
	.list-wrapper {
		position: relative;
		z-index: 2;
	}
}
