.s7 {
	padding-bottom: 70px;
	background-color: #fafafa;
	p {
		font-size: 18px;
	}
}

.heading-logo {
	position: relative;
	display: block;
	width: 321px;
	height: 86px;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/heading-logo.png);
	font-size: 0;
	&::before {
		content: '';
		position: absolute;
		width: 100vw;
		height: 52px;
		left: -100vw;
		background-image: url(../img/heading-wire.png);
		margin-left: 19px;
	}
	&::after {
		content: '';
		position: absolute;
		width: 100vw;
		height: 52px;
		right: -100vw;
		background-image: url(../img/heading-wire.png);
		margin-right: 32px;
	}
}
