.s8 {
	position: relative;
	height: 670px;
	background-image: url(../img/s2-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	.icons-tabs__header {
		ul {
			text-align: center;
			li {
				float: none;
				display: inline-block;
				@media all and (max-width: 768px) {
					display: block;
					float: left;
				}
			}
		}
	}
	@media all and (max-width: 992px) and (min-width: 769px) {
		.features-slide {
			margin-right: 60px !important;
		}
	}
	#tab5::before {
		left: 195px;
		@media all and (max-width: 1200px) {
			left: 167px;
		}
		@media all and (max-width: 992px) {
			left: 65px;
		}
	}
	#tab6::before {
		left: 480px;
		@media all and (max-width: 1200px) {
			left: 394px;
		}
		@media all and (max-width: 992px) {
			left: 275px;
		}
	}
	#tab7::before {
		left: 760px;
		@media all and (max-width: 1200px) {
			left: 622px;
		}
		@media all and (max-width: 992px) {
			left: 482px;
		}
	}
}

@media all and (max-width: 768px) {
	#features-2 {
		overflow: hidden;
	}
}
